body {
    display: flex;
    margin: 0;
    height: 100vh;
    flex-direction: column;
    font-family: Roboto;
    
}
.header {
    /* border: 1px solid black; */
    
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header .top {
    display: flex;
    /* border: 1px solid black; */
    min-height: 50px;
    flex: 1;
    justify-content: center;
}
.header .top .left {
    /* border: 1px solid black; */
    display: flex;
    max-width: 500px;
    flex: 1;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
.header .top .right {
    /* border: 1px solid black; */
    display: flex;
    max-width: 500px;
    flex: 1;
    
}
.header .top .right .links {
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;    
    align-items: center;
    justify-content: right;
    gap: 24px;
    
}
.header .bottom {
    display: flex;
    /* border: 1px solid black; */
    min-height: 240px;
    justify-content: center;
    padding-top: 200px;
    margin-bottom: 200px;
}
.header .bottom .left {
    /* border: 1px solid black; */
    display: flex;
    max-width: 500px;
    flex: 1;
    flex-direction: column;
    justify-content: start;
}
.header .bottom .left .main-text {
    display: flex;
    flex: 1;
    /* border: 1px solid black; */
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding-bottom: 16px;
}

.header .bottom .left .secondary-text {
    display: flex;
    flex: 1;
    /* border: 1px solid black; */
    font-size: 18px;
    font-weight: 300;
    color: #F9FAF8;
    padding: 0 50px 16px 0;
}
.header .bottom .left .signup-button {
    display: flex;
    flex: 0 1 auto;
    color: #F9FAF8;
    background-color: #3882F6;
    width: 130px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 8px 24px;
    border: none;
    font-size: 16px;
    font-weight: bold;

    /* border: 1px solid black; */  
}

.header .bottom .right {
    /* border: 1px solid black; */
    display: flex;
    max-width: 500px;
    flex: 1;
}
.header .bottom .right .image-placeholder {
    background-color: rgba(122, 122, 122, 0.178);
    color: #F9FAF8;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}


.info {
    /* border: 1px solid black; */
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-bottom: 150px;
}

.info .title {
    /* border: 1px solid black; */
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 30px 0;
}
.info .cards {
    /* border: 1px solid black; */
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 50px;
    
}
.info .cards .card {
    /* border: 1px solid black; */
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 210px;
    align-items: center;
}
.info .cards .card .image {
    display: flex;
    flex: 0 1 auto;
    border: 4px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 4px;
    height: 200px;
    width: 200px;
    
}
.info .cards .card .subtext {
    display: flex;
    flex: 1;
    /* border: 1px solid black; */
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 5px;
    text-align: center;
}
.quotes {
    /* border: 1px solid black; */
    background-color: #E5E7EB;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 150px;
}
.quotes .quote {
    /* border: 1px solid black; */
    display: flex;
    flex: 1;
    max-width: 1000px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    padding-top: 100px;
}
.quotes .author {
    /* border: 1px solid black; */
    display: flex;
    flex: 1;
    justify-content: right;
    text-align: right;
    font-weight: 500;
    font-size: 24px;
    width: 1000px;
    padding-top: 8px;
    padding-bottom: 100px;
}
.invitation {
    /* border: 1px solid black; */
    min-height: 200px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.invitation .contents {
    /* border: 1px solid black; */
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 0 120px;
    margin-bottom: auto;
}
.invitation .contents .left {
    display: flex;
    flex: 2 1 auto;
    flex-direction: column;
    /* border: 1px solid black; */
    padding: 30px 30px 30px 0;
    color: #F9FAF8;
    
}
.invitation .contents .left .title {
    font-weight: 700;
    font-size: 24px;
}
.invitation .contents .left .subtext{
    font-weight: 300;
    font-size: 20px;
}
.invitation .contents .right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    padding: 30px;
}
.invitation .contents .right .signup-button {
    border-style:none;
    border: 3px solid #F9FAF8;
    border-radius: 10px;
    background-color: #3882F6;
    color: #F9FAF8; 
    font-weight: 700;
    font-size: 20px;
    width: 150px;
    padding: 8px 24px;
}


.footer {
    /* border: 1px solid black; */
    min-height: 100px;
}

a  {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
a:visited {
    color:#E5E7EB;
} 

ul {
    list-style-type: none;
}